<h1>{{vm.title}}</h1>

<form name="basic" novalidate>
    Name:
    <input type="text" ng-model="vm.form.name" name="name" required="" />
    <br />
    <div ng-show="basic.$submitted || basic.name.$touched" ng-style="{'color': 'red'}">
        <div ng-show="basic.name.$error.required">Tell us your name.</div>
    </div>
    <br />
    
    E-mail:
    <input type="email" ng-model="vm.form.email" name="email" required="" />
    <br />
    <div ng-show="basic.$submitted || basic.email.$touched" ng-style="{'color': 'red'}">
        <span ng-show="basic.email.$error.required">Tell us your email.</span>
        <span ng-show="basic.email.$error.email">This is not a valid email.</span>
    </div>
    <br />

    Gender:
    <input type="radio" ng-model="vm.form.gender" value="male" />male
    <input type="radio" ng-model="vm.form.gender" value="female" />female
    <br /><br />

    <input type="submit" ng-click="vm.submit(vm.form)" value="Next" />
</form>